<!-- views/profile.ejs -->
<!doctype html>
<html class ="no-js">
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://bootswatch.com/flatly/bootstrap.css">
    <!--Angular JS-->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <!-- Google Maps API -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_Ahm6MSh0ACbjgIB50gcdvnMUkyph6ms&signed_in=true&libraries=places,visualization"></script>
    <!--RouteBoxer library-->
    <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/routeboxer/src/RouteBoxer.js"></script>

    <style>
        body        { padding-top:50px; padding-bottom:50px; word-wrap:break-word; }
        #map {
            width: 760px;
            height: 600px;
        }
        .type_checkboxes {
          width:300px; 
          height: 100px;
          overflow-y: scroll;
        }
    </style>
</head>
<body ng-app = "mapsApp" ng-controller="mapCtrl">
  <nav class="navbar navbar-default navbar-fixed-top" >
     <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/profile">Smart Tourist</a>
      </div>

    <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout" >Logout</a></li>
      </ul>

  </div>
  </nav>
<div class="container">
    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-lg-6">
            <div class="well well-sm">
                <h3><span class="fa fa-user"></span> Local</h3>
                <% if(user.local.email) { %>
                    
                        <strong>email</strong>: <%= user.local.email %>
                    
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>
        <!-- FACEBOOK INFORMATION -->
        <div class="col-lg-6">
            <div class="well well-sm">
                <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>
                <!-- check if the user has this token (is the user authenticated with this social account) -->
                <% if (user.facebook.token) { %>
                    
                        <strong>Logged as: </strong> <%= user.facebook.name %>
                    
                <% } else { %>
                    <a href="/connect/facebook" class="btn btn-primary">Connect Facebook</a>
                <% } %>

          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
          <div class="panel panel-info ">
              <div class="panel-heading">
                <h3 class="panel-title">Places Info</h3>
              </div>
              <div class="panel-body">
                  <div class="form-horizontal">
                    <div class="col-lg-12">



                    </div>
                  </div>
              </div> 
          </div>
      </div>
      <div class="col-lg-8" id = "map"></div>      
    </div>
    <div class="row ">
      <div class="col-lg-4">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">Configure route</h3>
          </div>
          <div class="panel-body">
                      <div class="form-horizontal">
                        <div class="form-group">
                          <div class="col-lg-10">
                            <input class="form-control" id="origin-input" placeholder="Enter start location" type="text">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-lg-10">
                            <input class="form-control" id="destination-input" placeholder="Enter destination location" type="text">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="radius" class="col-lg-3 control-label">Radius:</label>
                          <div class="col-lg-7">
                              <input class="form-control" id="radius" placeholder="Enter radius" >
                          </div>
                        </div>
                        <div class="form-group col-lg-10" >
                          <input type="radio" name="type" id="changemode-walking" checked = "checked">
                          <label for="changemodewalking">Walking</label>
                          <input type="radio" name="type" id="changemode-driving">
                          <label for="changemodedriving">Driving</label>
                           <button ng-click="route()" type="submit" class="btn btn-primary pull-right">Set</button>
                        </div>
                      </div>
          </div>
        </div>  
      </div>
      <div class="col-lg-8">          
        <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Travel mode</h3>
            </div>
            <div class="panel-body">
                      <table class="table table-striped table-hover ">
                        <tbody>
                          <tr>
                            <td>
                              <div class="panel panel-success">
                                <div class="panel-body" >
                                  <img src="http://www.woombie.com/blog/wp-content/uploads/2013/03/family-travel.jpg" alt="Family Travel" class="img-rounded" width="200" height="200">
                                </div>
                                <div class="panel-footer">
                                  <h3 class="panel-title">Family Travel</h3>
                                </div>
                              </div>
                            </td>
                            <td>
                              <div class="panel panel-success">
                                <div class="panel-body" >
                                  <img src="http://www.diversetraveller.com/Images/Articles/142/feb08_travelresearch_matesholidays.jpg" alt="Friends/Student Travel" class="img-rounded" width="200" height="200">
                                </div>
                                <div class="panel-footer">
                                  <h3 class="panel-title">Friends/Strudent Travel</h3>
                                </div>
                              </div>
                            </td>
                            <td>
                              <div class="panel panel-success">
                                <div class="panel-body" >
                                   <img src="http://previews.123rf.com/images/dirkercken/dirkercken1410/dirkercken141001459/32979421-shortcut-short-route-cut-distance-fast-easy-way-bypass-Stock-Photo.jpg" alt="Fast Route" class="img-rounded" width="200" height="200">
                                 </div>
                                 <div class="panel-footer">
                                   <h3 class="panel-title">Fast Route</h3>
                                 </div>
                              </div>
                            </td>
                          </tr>
                          <tr >
                            <td>
                              <p class="text-muted">Choose places types</p>
                            </td>
                          </tr>
                          <tr >
                            <td>
                              <input id="amusement_park" type="checkbox" /> Amusement Parks <br />
                              <input id="gas_station" type="checkbox" /> Gas stations <br />
                              <input id="aquarium" type="checkbox" /> Aquariums <br />
                              <input id="restaurant" type="checkbox" /> Restaurants <br />
                              <input id="food" type="checkbox" /> Food places <br />
                            </td>
                            <td>
                              <input id="park" type="checkbox" /> Parks <br />
                              <input id="museum" type="checkbox" /> Museums <br />
                              <input id="shopping_mall" type="checkbox" /> Shopping Malls <br />
                              <input id="bar" type="checkbox" /> Bars <br />
                              <input id="cafe" type="checkbox" /> Caffe <br />
                            </td>
                            <td>
                              <input id="bouling_alley" type="checkbox" /> Churches <br/>
                              <input id="restaurant" type="checkbox" /> Bowling Alleys <br />
                              <input id="night_club" type="checkbox" /> Night Clubs <br />
                              <input id="movie_theater" type="checkbox" /> Movie Theaters <br />
                              <input id="zoo" type="checkbox" /> Zoo <br />
                            </td>
                          </tr>
                        </tbody>
                      </table>
            </div>
          </div> 
        </div>  
      </div>
  </div>
</div>
    

<script>
//console.log("Maps...");
angular.module('mapsApp',[]).controller('mapCtrl',function($scope){
  
  var origin_place_id = null;
  var destination_place_id = null;
  var routeBoxer = null;
  var boxpolys = null; 
  var service;
  var markers = [];

  $scope.map = new google.maps.Map(document.getElementById('map'), {
    mapTypeControl: false,
    zoom: 13
  });
  service = new google.maps.places.PlacesService($scope.map);
  var infoWindow = new google.maps.InfoWindow({map:$scope.map});
  var travel_mode = google.maps.TravelMode.WALKING;
  
  if(navigator.geolocation){
    navigator.geolocation.getCurrentPosition(function(position){  
      var pos = {
                  lat:position.coords.latitude,
                  lng:position.coords.longitude
                };
      infoWindow.setPosition(pos);
      infoWindow.setContent('You are here!');
      $scope.map.setCenter(pos);
    },function(){
      handleLocationError(true,infoWindow,$scope.map.getCenter());
    });
  }else {
    handleLocationError(false,infoWindow,$scope.map.getCenter());
  }

  function handleLocationError(browserHasGeolocation,infoWindow,pos){
    infoWindow.setPosition(pos);
    infoWindow.setContent(browserHasGeolocation?
                          'Error : The Geolocation service failed.':
                          'Error : Your browser does not support geolocation.');
  }
  routeBoxer = new RouteBoxer();
  var directionsService = new google.maps.DirectionsService;
  var directionsDisplay = new google.maps.DirectionsRenderer({map:$scope.map});

  //directionsDisplay.setMap($scope.map);

  var origin_input = document.getElementById('origin-input');
  var destination_input = document.getElementById('destination-input');
  var modes = document.getElementById('mode-selector');

  /*$scope.map.controls[google.maps.ControlPosition.TOP_LEFT].push(origin_input);
  $scope.map.controls[google.maps.ControlPosition.TOP_LEFT].push(destination_input);
  $scope.map.controls[google.maps.ControlPosition.TOP_LEFT].push(modes);*/

  var origin_autocomplete = new google.maps.places.Autocomplete(origin_input);
  origin_autocomplete.bindTo('bounds', $scope.map);
  var destination_autocomplete =
      new google.maps.places.Autocomplete(destination_input);
  destination_autocomplete.bindTo('bounds', $scope.map);

  // Sets a listener on a radio button to change the filter type on Places
  // Autocomplete.
  function setupClickListener(id, mode) {
    var radioButton = document.getElementById(id);
    radioButton.addEventListener('click', function() {
      travel_mode = mode;
    });
  }

  setupClickListener('changemode-walking', google.maps.TravelMode.WALKING);
  setupClickListener('changemode-driving', google.maps.TravelMode.DRIVING);

  function expandViewportToFitPlace(map, place) {
    if (place.geometry.viewport) {
     $scope.map.fitBounds(place.geometry.viewport);
    } else {
     $scope.map.setCenter(place.geometry.location);
     $scope.map.setZoom(17);
    }
  }

  origin_autocomplete.addListener('place_changed', function() {
    var place = origin_autocomplete.getPlace();
    if (!place.geometry) {
      window.alert("Autocomplete's returned place contains no geometry");
      return;
    }
    expandViewportToFitPlace(map, place);

    // If the place has a geometry, store its place ID and route if we have
    // the other place ID
    origin_place_id = place.place_id;
    /*route(origin_place_id, destination_place_id, travel_mode,
          directionsService, directionsDisplay);*/
  });

  destination_autocomplete.addListener('place_changed', function() {
    var place = destination_autocomplete.getPlace();
    if (!place.geometry) {
      window.alert("Autocomplete's returned place contains no geometry");
      return;
    }
    expandViewportToFitPlace($scope.map, place);

    // If the place has a geometry, store its place ID and route if we have
    // the other place ID
    destination_place_id = place.place_id;
    /*route(origin_place_id, destination_place_id, travel_mode,
          directionsService, directionsDisplay);*/
  });

  $scope.route = function(){

    clearBoxes();
    deleteMarkers();

    if(!origin_place_id || !destination_place_id ){
      return;
    }
    var distance_radius = parseFloat(document.getElementById('radius').value);
    directionsService.route({
      origin : {'placeId':origin_place_id},
      destination : {'placeId':destination_place_id},
      travelMode : travel_mode
    },function(response,status){
      if(status === google.maps.DirectionsStatus.OK){
        directionsDisplay.setDirections(response);
        var path = response.routes[0].overview_path;
        var boxes = routeBoxer.box(path,distance_radius);
        searchBounds(boxes);
        //drawBoxes(boxes);
      } else {
        window.alert('Directions request failed due to ' + status);
      }
    });
  };
  function searchBounds(bounds){
      for (var i = 0; i < bounds.length; i++) {
     (function(i) {
       setTimeout(function() {

         // Perform search on the bound and save the result
         performSearch(bounds[i]);
       }, 400 * i);
     }(i));
   }
  }
  function performSearch(bound){
    var request = {
     bounds: bound,
     types: ['art_gallery','museum']
   };
   service.radarSearch(request, callback);
  }

  function callback(results, status) {
   if (status !== google.maps.places.PlacesServiceStatus.OK) {
     console.error(status);
     return;
   }

   for (var i = 0, result; result = results[i]; i++) {
     addMarker(result);
   }
 }
 function addMarker(place){
  var marker = new google.maps.Marker({
    map : $scope.map,
    position : place.geometry.location,
    icon :'http://www.google.com/intl/en_us/mapfiles/ms/micons/yellow-dot.png'
  });
  markers.push(marker);
 }

 function deleteMarkers(){
  for(var i=0;i<markers.length;i++){
    markers[i].setMap(null);
  }
  markers = [];
 }

function drawBoxes(boxes){
    boxpolys = new Array(boxes.length);
    for (var i = 0; i < boxes.length; i++) {
        boxpolys[i] = new google.maps.Rectangle({
          bounds: boxes[i],
          fillOpacity: 0,
          strokeOpacity: 1.0,
          strokeColor: '#000000',
          strokeWeight: 1,
          map: $scope.map
        });
      }
  }
  // Clear boxes currently on the map
  function clearBoxes() {
      if (boxpolys != null) {
        for (var i = 0; i < boxpolys.length; i++) {
          boxpolys[i].setMap(null);
        }
      }
      boxpolys = null;
    }
});
    </script>
</div>
    
</body>
</html>